.goHome{
    width: 150px;
    height: 24px;   
    border-style:outset;
    margin-left: 80px;
    border-radius: 20px;
    padding-top: 6px;
    font-weight: bold;
    

}

.goHomeText {    
    color: rgb(11, 3, 97);
    margin-top: 10px;
    text-decoration: none; 
}